h1 > .header {
  color: rgba(0, 49, 80, 0.911);
}

.flex-container {
  display: flex;
  justify-content: center;
}

 a {
   background-color: rgba(0, 49, 80, 0.911);
  color: rgba(0, 49, 80, 0.911);
  border-color: rgba(0, 49, 80, 0.911);
}

.content {
  display: inline-block;
}
