<div class="ui fluid container">
    <div class="ui very padded raised segment" style="margin: 20px;">
      <div class="flex-container">
        <h1 class="ui header" style="margin-bottom: 30px;">Employee Directory</h1>
      </div>
      <div class="flex-container" style="margin-bottom: 40px;">
        <div class="ui large action left icon input">
          <input type="text" placeholder="Search by name...">
          <i class="search icon"></i>
          <select multiple="" name="skills" class="ui normal search dropdown">
            <option value="">Departments</option>
          <option *ngFor="let department of departments" value="department">{{department}}</option>
          </select>
          <select multiple="" name="lob" class="ui normal search dropdown">
            <option value="">Businesses</option>
          <option *ngFor="let business of lobs" value="business">{{business}}</option>
          </select>
          <select multiple="" name="Region" class="ui normal search dropdown">
            <option value="">Region</option>
            <option *ngFor="let region of regions" value="business">{{region}}</option>
          </select>
          <select multiple="" name="Position" class="ui normal search dropdown">
            <option value="">Position</option>
            <option *ngFor="let position of titles" value="business">{{position}}</option>
          </select>
          <div class="ui olive button">Search</div>
      </div>
      </div>

    <table class="ui very basic selectable table">
      <thead>
        <tr><th class="gray">First Name</th>
        <th class="ui gray">Last Name</th>
        <th>Department</th>
        <th>Line Of Business</th>
        <th>Region</th>
        <th>Phone #</th>
        <th>Email</th>
      </tr></thead>
      <tbody>
        <tr *ngFor="let employee of employees" (click)="openModal(employee)">
          <td>
            <h4 class="ui image header">
              <img [src]="this.employee?.imgUrl" class="ui mini rounded image">
              <div class="content">
                {{employee.firstName}}
                <div class="sub header">Human Resources
              </div>
            </div>
          </h4></td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.department}}</td>
          <td>{{employee.lineOfBusiness}}</td>
          <td>{{employee.region}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Contact Information
    </div>
    <div class="image small content">
      <div class="ui small image">
        <img [src]="this.currentEmployee?.imgUrl">
      </div>
      <div class="description" style="width: 100%;">
        <div class="ui header">{{this.currentEmployee?.firstName + ' ' + this.currentEmployee?.lastName}}</div>
        <div class="ui list">
          <div class="ui grid">
            <div class="two column row">
              <div class="column">
                <div class="item">
                  <i class="certificate icon"></i>
                  <div class="content">
                    {{this.currentEmployee?.title}}
                  </div>
                </div>
                <div class="item">
                  <i class="building icon"></i>
                  <div class="content">
                    {{this.currentEmployee?.department + ' Department'}}
                  </div>
                </div>
                <div class="item">
                  <i class="industry icon"></i>
                  <div class="content">
                    {{this.currentEmployee?.lineOfBusiness + ' Business'}}
                  </div>
                </div>

              </div>
              <div class="column">
                <div class="item">
                  <i class="mail icon"></i>
                  <div class="content">
                    <a style="background-color: white;">{{this.currentEmployee?.email}}</a>
                  </div>
                </div>
                <div class="item">
                  <i class="phone icon"></i>
                  <div class="content">
                    <a style="background-color: white;">{{this.currentEmployee?.phone}}</a>
                  </div>
                </div>
                <div class="item">
                  <i class="marker icon"></i>
                  <div class="content">
                    {{this.currentEmployee?.region + ' Region: ' + this.currentEmployee?.city + ', ' + this.currentEmployee?.state}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right button">
        Ok
      </div>
    </div>
  </div>


