
<div class="layout">
  <div class="left">
    <img src="../../../assets/logo.png" class="logo">
    <div class="login-center">
      <form class="mx-auto">
        <h3>Log in</h3>
        <div class="form-group mt-4">
          <input type="email" class="form-control form-control-lg" id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-lg" id="password" placeholder="Password">
        </div>
        <small>Forgot your password?</small>
        <br>
        <button type="button" class="btn green-btn mt-3 w-75">Log In</button>
      </form>
    </div>
  </div>
  <div class="right">
      <div class="center">
        <div class="large-text">
          <p class="my-0 py-0">Employee</p>
          <p class="my-0 py-0">Management</p>
          <p class="my-0 py-0">Portal</p>
        </div>
        <div class="medium-text mt-5">
          <p>Database with profiles of each employee. The database can be filtered by region and area. A quick search bar is also included.</p>
        </div>
      </div>
</div>
