
<div class="layout">
  <div class="left">
    <img src="../../../assets/logo.png" class="logo">
    <div class="login-center">
      <form (ngSubmit)="login(form.value)" class="mx-auto" #form="ngForm">
        <h3>Log in</h3>
        <div class="ui input" style="margin-bottom: 15px;">
          <input name="username" type="text" class="ui input" id="username" placeholder="Username" ngModel>
        </div><br>
        <div class="ui input" style="margin-bottom: 15px;">
          <input name="password" type="password" class="ui input" id="password" placeholder="Password" ngModel>
        </div><br>
        <small>Forgot your password?</small>
        <br>
        <button type="submit" class="ui button olive" style="margin-top: 15px;">Log In</button>
        <div *ngIf="showError" class="ui error message">
          <div class="header">
            Incorrect Password
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="right">
      <div class="center">
        <div class="large-text">
          <p class="my-0 py-0">Employee</p>
          <p class="my-0 py-0">Management</p>
          <p class="my-0 py-0">Portal</p>
        </div>
        <div class="medium-text mt-5">
          <p>Database with profiles of each employee. The database can be filtered by region and area. A quick search bar is also included.</p>
        </div>
      </div>
</div>
